<h2 class="mt-2">Update Class</h2>
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a [routerLink]="['/app/classes']">Classes</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">Class 1</li>
	</ol>
</nav>


<div class=" ">
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#classinfo" href="#" role="tab" aria-controls="categoryinfo"
			 aria-selected="true">Class Info</a>
			<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#classstudents" href="#" role="tab" aria-controls="catproducts"
			 aria-selected="false">Students</a>
		</div>
	</nav>
	<div class="tab-content pt-md-4 pl-3" id="nav-tabContent">
		<div class="tab-pane fade show active" id="classinfo" role="tabpanel" aria-labelledby="classinfo-tab">
			<div class="form-group row">
				<label for="staticEmail" class="col-sm-2 col-form-label">Class Name</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="staticEmail" value="" placeholder="">
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword" class="col-sm-2 col-form-label">Show class </label>
				<div class="col-sm-3">
					<select id="show-title" name="show_title" class="form-control">
											<option value="1" selected="selected">Show</option>
												<option value="0">Hide</option>
									  </select>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputPassword" class="col-sm-2 col-form-label">Description</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="inputPassword" placeholder="">
				</div>
			</div>
			<button class="btn btn-bd-primary mb-4">Update</button>
		</div>
		<div class="tab-pane fade" id="classstudents" role="tabpanel" aria-labelledby="classstudents-tab">
			<a class="btn btn-bd-primary btn-sm mb-4" [routerLink]="['/app/addstudent']">Add Student</a>
			<br/>
			<table class="table table-sm table-bordered table-hover table-sortable">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Student Name</th>
						<th scope="col">Admission No.</th>
						<th scope="col">Current Class</th>
						<th scope="col">Father's Name</th>
						<th scope="col">Mother's Name</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1 </th>
						<td>
							<a [routerLink]="['/app/updatestudent']">ACV</a>
						</td>
						<td>132546</td>
						<td>5th</td>
						<td>ABC</td>
						<td>xyz</td>
						<td>
							<button class="btn btn-outline-success btn-sm">
										<i class="fa fa-power-off"></i>
									</button>
							<button class="btn btn-outline-danger btn-sm">
										<i class="fa fa-trash-o"></i>
									</button>
							<button class="btn btn-outline-warning btn-sm">
										<i class="fa fa-edit"></i>
									</button>
						</td>
					</tr>
					<tr>
						<th scope="row">2 </th>
						<td>
							<a [routerLink]="['/app/updatestudent']">POPI</a>
						</td>
						<td>132546</td>
						<td>5th</td>
						<td>ABC</td>
						<td>xyz</td>
						<td>
							<button class="btn btn-outline-success btn-sm">
										<i class="fa fa-power-off"></i>
									</button>
							<button class="btn btn-outline-danger btn-sm">
										<i class="fa fa-trash-o"></i>
									</button>
							<button class="btn btn-outline-warning btn-sm">
										<i class="fa fa-edit"></i>
									</button>
						</td>
					</tr>
					<tr>
						<th scope="row">3 </th>
						<td>
							<a [routerLink]="['/app/updatestudent']">JGGG</a>
						</td>
						<td>132546</td>
						<td>5th</td>
						<td>ABC</td>
						<td>xyz</td>
						<td>
							<button class="btn btn-outline-success btn-sm">
										<i class="fa fa-power-off"></i>
									</button>
							<button class="btn btn-outline-danger btn-sm">
										<i class="fa fa-trash-o"></i>
									</button>
							<button class="btn btn-outline-warning btn-sm">
										<i class="fa fa-edit"></i>
									</button>
						</td>
					</tr>
					<tr>
						<th scope="row">4 </th>
						<td>
							<a [routerLink]="['/app/updatestudent']">YYY</a>
						</td>
						<td>132546</td>
						<td>5th</td>
						<td>ABC</td>
						<td>xyz</td>
						<td>
							<button class="btn btn-outline-success btn-sm">
										<i class="fa fa-power-off"></i>
									</button>
							<button class="btn btn-outline-danger btn-sm">
										<i class="fa fa-trash-o"></i>
									</button>
							<button class="btn btn-outline-warning btn-sm">
										<i class="fa fa-edit"></i>
									</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>