<h2 class="mt-2">Student Detail</h2>
<ol class="breadcrumb-arrow">
	<li><a [routerLink]="['/app/student']">Student</a></li>
	<!-- <li><a [routerLink]="['/app/student']">Library</a></li> -->
	<li class="active"><span>{{student.firstName + " " + student.lastName}}</span></li>
</ol>

<div class="">
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#classinfo" href="#" role="tab" aria-controls="categoryinfo"
			 aria-selected="true">Student Info</a>
			<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#classstudents" href="#" role="tab" aria-controls="catproducts"
			 aria-selected="false">Fee Info</a>
			 <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#paymentinfo" href="#" role="tab" aria-controls="catproducts"
			 aria-selected="false">Payment Info</a>
		</div>
	</nav>
	<div class="tab-content pt-md-4 pl-3" id="nav-tabContent">
		<div class="tab-pane fade show active" id="classinfo" role="tabpanel" aria-labelledby="classinfo-tab">
			<div class="col-md-10 alert alert-danger" role="alert" *ngIf="(sf.submitted && !sf.valid)">
				Please fill in the highlighted fields.
			</div>
		<form (ngSubmit)="sf.form.valid;" #sf="ngForm" novalidate>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Admission No.</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="admissionno" [(ngModel)]="student.admissionno" #admissionno="ngModel" required
					 [ngClass]="{'has-error': sf.submitted && !admissionno.valid}" autofocus="" disabled>
				</div>
				<label class="col-sm-2 col-form-label">Admission for Class</label>
				<div class="col-sm-3">
					<select class="form-control-plaintext" name="studentClass" [(ngModel)]="student.studentClass" #studentClass="ngModel"
					[compareWith]="fnCompareStudentClass" required [ngClass]="{'has-error': sf.submitted && !studentClass.valid}" disabled>
					 <option *ngFor="let admclas of admissionClasses" [ngValue]="admclas">{{admclas.name}}</option>
					 </select>
				</div>
				<div class="col-sm-2">
					<!-- <button type="button" class="btn btn-danger btn-sm text-white ng-star-inserted" (click)="doInactiveStudent(student)">
						<i class="fa fa-power-off"></i>
					</button> -->
					<button type="button" class="btn btn-warning btn-sm text-white ng-star-inserted" (click)="editStudent(student)">
						<i class="fa fa-edit"></i>
					</button>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Student First Name</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="firstName" [(ngModel)]="student.firstName" #firstName="ngModel" required
					 [ngClass]="{'has-error': sf.submitted && !firstName.valid}" autofocus="" disabled>
				</div>
				<label class="col-sm-2 col-form-label">Student Last Name</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="lastName" [(ngModel)]="student.lastName" #lastName="ngModel"
					 required [ngClass]="{'has-error': sf.submitted && !lastName.valid}" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Gender</label>
				<div class="col-sm-3">
					<select class="form-control-plaintext" name="gender" [(ngModel)]="student.gender" #gender="ngModel" disabled>
									<option value="M" selected>Male</option>
									<option value="F">Female</option>
					</select>
				</div>
				<label class="col-sm-2 col-form-label">DOB</label>
				<div class="col-sm-3">
					<input type="text" placeholder="DD/MM/YYYY" mask='00/00/0000' class="form-control-plaintext" name="studentdob" [(ngModel)]="student.studentdob" #studentdob="ngModel" required [ngClass]="{'has-error': sf.submitted && !studentdob.valid}" disabled>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Father Name</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="fathername" [(ngModel)]="student.fathername" #fathername="ngModel" required [ngClass]="{'has-error': sf.submitted && !fathername.valid}" disabled>
				</div>
				<label class="col-sm-2 col-form-label">Father Age</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="fatherage" [(ngModel)]="student.fatherage" #fatherage="ngModel" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Father Qualification</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="fatherqualification" [(ngModel)]="student.fatherqualification" #fatherqualification="ngModel" disabled>
				</div>
				<label class="col-sm-2 col-form-label">Father DOB</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" placeholder="DD/MM/YYYY" mask='00/00/0000' name="fatherdob" [(ngModel)]="student.fatherdob" #fatherdob="ngModel" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Father Profession</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="fatherprofession" [(ngModel)]="student.fatherprofession" #fatherprofession="ngModel" disabled>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Mother Name</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="mothername" [(ngModel)]="student.mothername" #mothername="ngModel" required [ngClass]="{'has-error': sf.submitted && !mothername.valid}" disabled>
				</div>
				<label class="col-sm-2 col-form-label">Mother Age</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="motherage" [(ngModel)]="student.motherage" #motherage="ngModel" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Mother Qualification</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="motherqualification" [(ngModel)]="student.motherqualification" #motherqualification="ngModel" disabled>
				</div>
				<label class="col-sm-2 col-form-label">Mother DOB</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" placeholder="DD/MM/YYYY" mask='00/00/0000' name="motherdob" [(ngModel)]="student.motherdob" #motherdob="ngModel" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Mother Profession</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="motherprofession" [(ngModel)]="student.motherprofession" #motherprofession="ngModel" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Address</label>
				<div class="col-sm-8">
					<textarea class="form-control-plaintext" name="address" [(ngModel)]="student.address" #address="ngModel" required [ngClass]="{'has-error': sf.submitted && !address.valid}"
					disabled [(ngModel)]="student.address" #address="ngModel"> </textarea>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Phone No.</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="phoneno" [(ngModel)]="student.phoneno" #phoneno="ngModel" disabled>
				</div>
				<label class="col-sm-2 col-form-label">Cell No.</label>
				<div class="col-sm-3">
					<input type="text" class="form-control-plaintext" name="cellno" [(ngModel)]="student.cellno" #cellno="ngModel" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Email Address</label>
				<div class="col-sm-3">
					<!-- <input type="email" class="form-control-plaintext" name="emailaddress" [(ngModel)]="student.emailaddress" #emailaddress="ngModel" email [ngClass]="{'has-error': (emailaddress.dirty || emailaddress.touched)}" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"> -->
					<input type="email" class="form-control-plaintext" name="emailaddress" [(ngModel)]="student.emailaddress" #emailaddress="ngModel" disabled>
				</div>
			</div>
		</form>
		</div>
		<div class="tab-pane fade" id="classstudents" role="tabpanel" aria-labelledby="classstudents-tab">
				<div class="row mb-3 h5">
						<div class="col-xl-3 col-sm-6">
							<div class="card text-white bg-primary o-hidden p-2">
								<div class="">
									Total Fee : 
									<span class="pull-right" *ngIf="studentFee">
										<i class="fa fa-inr"></i> {{studentFee.studentFeeAmt || 0}}
									</span>
									<span class="pull-right" *ngIf="!studentFee">
											<i class="fa fa-inr"></i> 0
									</span>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6">
							<div class="card text-white bg-success o-hidden p-2">
									<div class="">
											Fee Paid : 
											<span class="pull-right" *ngIf="studentFee">
												<i class="fa fa-inr"></i> {{studentFee.studentPaidFeeAmt || 0}}
											</span>
											<span class="pull-right" *ngIf="!studentFee">
												<i class="fa fa-inr"></i> 0
											</span>
									</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6">
							<div class="card text-white bg-danger o-hidden p-2">
									<div class="">
											Balance Fee : 
											<span class="pull-right" *ngIf="studentFee">
												<i class="fa fa-inr"></i> {{studentFee.studentBalanceFeeAmt || 0}}
											</span>
											<span class="pull-right" *ngIf="!studentFee">
													<i class="fa fa-inr"></i> 0
											</span>
									</div>
							</div>
						</div>
						
					</div>
					<div class="row">
							<div class="col-xl-12 col-sm-12">
									<div class="">
										<div class="">
											<button class="btn btn-bd-primary" data-toggle="modal" data-target="#fineModal">Add Fee/ Fine</button>
											<button class="btn btn-outline-success" data-toggle="modal" data-target="#paymentModal">Pay Fee</button>
											<button class="btn btn-outline-danger"  data-toggle="modal" data-target="#waiverModal">Add Discount</button>
										</div>
									</div>
							</div>
							
					</div>
					<div class="table-responsive">
						<div>
						<data-table id="persons-grid" class="table table-sm"
								headerTitle="Student Fee"
								[limit]="10"
								[items]="studentFeeItems"
								[itemCount]="studentFeeItemCount"
								(reload)="reloadStudentFeeItems($event)"
								[pagination] = "true"
								[rowTooltip]="rowTooltip"
								[indexColumn] = "true"
								[substituteRows]="false"
								
								>
								<data-table-column
									[property]="'name'"
									[header]="'Fee'"
									[resizable]="true">
								</data-table-column>
								<data-table-column
									[property]="'paramType'"
									[header]="'Frequency'"
									[resizable]="true">
									<ng-template #dataTableCell let-item="item">
										{{feeTypeService.displayFrequency(item.paramType)}}
									</ng-template>
								</data-table-column>
								<data-table-column
									[property]="'value'"
									[header]="'Amount'"
									[resizable]="true">
									<ng-template #dataTableCell let-item="item">
											<i class="fa fa-inr"></i> {{item.value}}
										</ng-template>
								</data-table-column>
								<!-- <data-table-column
									[property]="'active'"
									[header]="'Actions'"
									[resizable]="true">
									<ng-template #dataTableCell let-item="item">
										<button class="btn btn-success btn-sm text-white" title="Pay Fee">
											<i class="fa fa-inr"></i> Pay
										</button>
									</ng-template>
								</data-table-column> -->	
						</data-table>
						</div>
						<div>
						<data-table id="persons-grid" class="table table-sm"
								headerTitle="Student Waiver"
								[limit]="10"
								[items]="studentFeeWaiverHistoryItems"
								[itemCount]="studentFeeWaiverHistoryItemCount"
								(reload)="reloadStudentFeeWaiverHistoryItems($event)"
								[pagination] = "true"
								[rowTooltip]="rowTooltip"
								[indexColumn] = "true"
								[substituteRows]="false"
								
								>
								<data-table-column
									[property]="'studentFeeWaiverAmt'"
									[header]="'Waiver Amount'"
									[resizable]="true">
								</data-table-column>
								
								<data-table-column
									[property]="'studentFeeWaiverCmt'"
									[header]="'Waiver Comment'"
									[resizable]="true">
									<ng-template #dataTableCell let-item="item">
											<i class="fa fa-inr"></i> {{item.value}}
										</ng-template>
								</data-table-column>	
						</data-table>
					</div>
					</div>
		</div>
		<div class="tab-pane fade mb-5" id="paymentinfo" role="tabpanel" aria-labelledby="paymentinfo-tab">
				<button class="btn btn-outline-success" data-toggle="modal" data-target="#paymentModal">Add Payment</button>
			<br/>
			<div class="table-responsive">
					<data-table id="payments-grid" class="table table-sm"
						headerTitle="Student Payment"
						[limit]="10"
						[items]="studentPaymentHistoryItems"
						[itemCount]="studentPaymentHistoryItemCount"
						(reload)="reloadStudentPaymentHistoryItems($event)"
						[pagination] = "true"
						[rowTooltip]="rowTooltip"
						[indexColumn] = "true"
						[substituteRows]="false"
						[indexColumnHeader]="'#'"
						>
						<data-table-column
							[property]="'payamentStatus'"
							[header]="'Payment Status'"
							[resizable]="true">
						</data-table-column>
						<data-table-column
							[property]="'startDate'"
							[header]="'Payment Date'"
							[resizable]="true">
						   
						</data-table-column>
						<data-table-column
							[property]="'studentFeePaymentAmt'"
							[header]="'Payment Amount'"
							[resizable]="true">
							<ng-template #dataTableCell let-item="item">
									<i class="fa fa-inr"></i> {{item.studentFeePaymentAmt}}
								</ng-template>
						</data-table-column>
						<data-table-column
							[property]="'studentFeePaymentCmt'"
							[header]="'Payment Comment'"
							[resizable]="true">
						</data-table-column>
					</data-table>
				</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form (ngSubmit)="payFeeForm.form.valid && payFee(studentFee);" #payFeeForm="ngForm" novalidate>
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Pay Fee</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
								<div class="col-md-12 alert alert-danger" role="alert" *ngIf="(payFeeForm.submitted && !payFeeForm.valid)">
										Please fill in the highlighted fields.
								</div>
								<label class="col-sm-12 col-form-label">Amount</label>
								<div class="col-sm-12">
									<input type="text" class="form-control"  mask='0000000000' name="payfeeamount" [(ngModel)]="payFeeAmount" #payFeeAmountTxt="ngModel" required [ngClass]="{'has-error': payFeeForm.submitted && !payFeeAmountTxt.valid}">
								</div>
								<label class="col-sm-12 col-form-label">Comments</label>
								<div class="col-sm-12">
									 <input type="text" class="form-control"   name="payFeeComments" [(ngModel)]="payFeeComments" #payFeeCommentsTxt="ngModel" required [ngClass]="{'has-error': payFeeForm.submitted && !payFeeCommentsTxt.valid}">
								</div>
							</div>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	
	<div class="modal fade" id="fineModal" tabindex="-1" role="dialog" aria-labelledby="fineModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form (ngSubmit)="fineForm.form.valid && addFine(studentFee);" #fineForm="ngForm" novalidate>
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Fee/ Fine</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
								<div class="col-md-12 alert alert-danger" role="alert" *ngIf="(fineForm.submitted && !fineForm.valid)">
										Please fill in the highlighted fields.
								</div>
								<label class="col-sm-12 col-form-label">Amount</label>
								<div class="col-sm-12">
									<input type="text" class="form-control"  mask='0000000000' name="fineamount" [(ngModel)]="fineAmount" #fineAmountTxt="ngModel" required [ngClass]="{'has-error': fineForm.submitted && !fineAmountTxt.valid}">
								</div>
								<label class="col-sm-12 col-form-label">Fee/ Fine Comments</label>
								<div class="col-sm-12">
									 <input type="text" class="form-control"   name="fineComments" [(ngModel)]="fineComments" #fineCommentsTxt="ngModel" required [ngClass]="{'has-error': fineForm.submitted && !fineCommentsTxt.valid}">
								</div>
							</div>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="waiverModal" tabindex="-1" role="dialog" aria-labelledby="waiverModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form (ngSubmit)="waiverFeeForm.form.valid && addWaiver(studentFee);" #waiverFeeForm="ngForm" novalidate>
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Waiver</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
								<div class="col-md-12 alert alert-danger" role="alert" *ngIf="(waiverFeeForm.submitted && !waiverFeeForm.valid)">
										Please fill in the highlighted fields.
								</div>
								<label class="col-sm-12 col-form-label">Name</label>
								<div class="col-sm-12">
									<input type="text" class="form-control" name="waiverName" [(ngModel)]="waiverName" #waiverNameTxt="ngModel" required [ngClass]="{'has-error': waiverFeeForm.submitted && !waiverNameTxt.valid}">
								</div>
								<label class="col-sm-12 col-form-label">Amount</label>
								<div class="col-sm-12">
									<input type="text" class="form-control"  mask='0000000000' name="waiverAmount" [(ngModel)]="waiverAmount" #waiverAmountTxt="ngModel" required [ngClass]="{'has-error': waiverFeeForm.submitted && !waiverAmountTxt.valid}">
								</div>
								<label class="col-sm-12 col-form-label">Comments</label>
								<div class="col-sm-12">
									 <input type="text" class="form-control"   name="waiverComments" [(ngModel)]="waiverComments" #waiverCommentsTxt="ngModel" required [ngClass]="{'has-error': waiverFeeForm.submitted && !waiverCommentsTxt.valid}">
								</div>
							</div>
					</div>
					<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>