<h2 class="mt-2">Fee Collection</h2>
<div class=" ">
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#GenerateClassFee" href="#" role="tab" aria-controls="categoryinfo"
			 aria-selected="true">Generate Fee For Class</a>
			 <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#GenerateStudentFee" href="#" role="tab" aria-controls="catproducts"
			 aria-selected="false">Generate Fee For New Students</a>
			 <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#CloseFee" href="#" role="tab" aria-controls="catproducts"
			 aria-selected="false">Close Fees</a>
		</div>
	</nav>
	<div class="tab-content pt-md-4 pl-3" id="nav-tabContent">
		<div class="tab-pane fade show active" id="GenerateClassFee" role="tabpanel" aria-labelledby="classinfo-tab">
			<div class="col-md-10 alert alert-danger" role="alert" *ngIf="(!generateClassFeeForm.valid)">
				Please fill in the highlighted fields.
			</div>
			<form [formGroup]="generateClassFeeForm" (ngSubmit)="generateClassFee(generateClassFeeForm);" novalidate>
			<div class="form-group row">
					<label class="col-sm-2 col-form-label">Class Fee Name</label>
					<div class="col-sm-3">
						<select class="form-control" formControlName="classFee" required
							[ngClass]="{'has-error': !generateClassFeeForm.controls.classFee.valid}">
							<option *ngFor="let classfee of classFees" [ngValue]="classfee">{{classfee.name}}</option>
						</select>
					</div>
				</div>
			
			<div formArrayName="studentClasses">
					<div class="form-group row">
					<label class="col-sm-2 col-form-label">Student Class(s)</label>
					<div class="col-sm-3">
					<span class="btn btn-success btn-sm text-white" (click)="addStudentClasses()" style="cursor: default">
							Add Student Class <i class="fa fa-plus"></i>
					</span>
				</div>
				</div> 
				<div *ngFor="let studentCla of generateClassFeeForm.controls.studentClasses.controls; let i=index">
						<!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
						<div [formGroupName]="i">
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">{{i+1}} : Student Class</label>
									<div class="col-sm-3">
										 <!-- <input type="text" formControlName="classFeeParamsId"/> -->
										<select class="form-control" formControlName="0" required
										[ngClass]="{'has-error': !generateClassFeeForm.controls.studentClasses.controls[i].controls.valid}">
										
												 <option *ngFor="let studClass of studentClassesData" [ngValue]="studClass">{{studClass.name}}</option>
										</select>
									</div>
									<div class="col-sm-1">
											<span class="btn btn-danger btn-sm text-white"  *ngIf="generateClassFeeForm.controls.studentClasses.controls.length > 1" (click)="removeStudentClasses(i)">
												<i class="fa fa-minus"></i>
											</span>
									</div>
								</div>
						
						</div>
					</div>
			</div>
			

			<button type="submit" class="btn btn-bd-primary mb-4" >Generate Fee</button>
			<button type="button" (click)="ClearAll()" class="btn btn-outline-secondary mb-4" >Reset</button>
		</form>
		</div>
		<div class="tab-pane fade" id="GenerateStudentFee" role="tabpanel" aria-labelledby="classstudents-tab">
				<div class="col-md-10 alert alert-danger" role="alert" *ngIf="(!generateClassFeeForm.valid)">
						Please fill in the highlighted fields.
					</div>
					<form [formGroup]="generateClassFeeForm" (ngSubmit)="generateFeeFornewStudent(generateClassFeeForm);" novalidate>
					<div class="form-group row">
							<label class="col-sm-2 col-form-label">Class Fee Name</label>
							<div class="col-sm-3">
								<select class="form-control" formControlName="classFee" required
									[ngClass]="{'has-error': !generateClassFeeForm.controls.classFee.valid}">
									<option *ngFor="let classfee of classFees" [ngValue]="classfee">{{classfee.name}}</option>
								</select>
							</div>
						</div>
					
					<div formArrayName="studentClasses">
							<div class="form-group row">
							<label class="col-sm-2 col-form-label">Student Class(s)</label>
							<div class="col-sm-3">
							<span class="btn btn-success btn-sm text-white" (click)="addStudentClasses()" style="cursor: default">
									Add Student Class <i class="fa fa-plus"></i>
							</span>
						</div>
						</div> 
						<div *ngFor="let studentCla of generateClassFeeForm.controls.studentClasses.controls; let i=index">
								<!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
								<div [formGroupName]="i">
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">{{i+1}} : Student Class</label>
											<div class="col-sm-3">
												 <!-- <input type="text" formControlName="classFeeParamsId"/> -->
												<select class="form-control" formControlName="0" required
												[ngClass]="{'has-error': !generateClassFeeForm.controls.studentClasses.controls[i].controls.valid}">
												
														 <option *ngFor="let studClass of studentClassesData" [ngValue]="studClass">{{studClass.name}}</option>
												</select>
											</div>
											<div class="col-sm-1">
													<span class="btn btn-danger btn-sm text-white"  *ngIf="generateClassFeeForm.controls.studentClasses.controls.length > 1" (click)="removeStudentClasses(i)">
														<i class="fa fa-minus"></i>
													</span>
											</div>
										</div>
								
								</div>
							</div>
					</div>
					
		
					<button type="submit" class="btn btn-bd-primary mb-4" >Generate New Student Fee</button>
					<button type="button" (click)="ClearAll()" class="btn btn-outline-secondary mb-4" >Reset</button>
				</form>
		</div>
		<div class="tab-pane fade" id="CloseFee" role="tabpanel" aria-labelledby="classstudents-tab">
				<div class="col-md-10 alert alert-danger" role="alert" *ngIf="(!generateClassFeeForm.valid)">
						Please fill in the highlighted fields.
					</div>
					<form [formGroup]="generateClassFeeForm" (ngSubmit)="closeFee(generateClassFeeForm);" novalidate>
					<div class="form-group row">
							<label class="col-sm-2 col-form-label">Class Fee Name</label>
							<div class="col-sm-3">
								<select class="form-control" formControlName="classFee" required
									[ngClass]="{'has-error': !generateClassFeeForm.controls.classFee.valid}">
									<option *ngFor="let classfee of classFees" [ngValue]="classfee">{{classfee.name}}</option>
								</select>
							</div>
						</div>
					
					<div formArrayName="studentClasses">
							<div class="form-group row">
							<label class="col-sm-2 col-form-label">Student Class(s)</label>
							<div class="col-sm-3">
							<span class="btn btn-success btn-sm text-white" (click)="addStudentClasses()" style="cursor: default">
									Add Student Class <i class="fa fa-plus"></i>
							</span>
						</div>
						</div> 
						<div *ngFor="let studentCla of generateClassFeeForm.controls.studentClasses.controls; let i=index">
								<!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
								<div [formGroupName]="i">
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">{{i+1}} : Student Class</label>
											<div class="col-sm-3">
												 <!-- <input type="text" formControlName="classFeeParamsId"/> -->
												<select class="form-control" formControlName="0" required
												[ngClass]="{'has-error': !generateClassFeeForm.controls.studentClasses.controls[i].controls.valid}">
												
														 <option *ngFor="let studClass of studentClassesData" [ngValue]="studClass">{{studClass.name}}</option>
												</select>
											</div>
											<div class="col-sm-1">
													<span class="btn btn-danger btn-sm text-white"  *ngIf="generateClassFeeForm.controls.studentClasses.controls.length > 1" (click)="removeStudentClasses(i)">
														<i class="fa fa-minus"></i>
													</span>
											</div>
										</div>
								
								</div>
							</div>
					</div>
					
		
					<button type="submit" class="btn btn-bd-primary mb-4" >Close Fee</button>
					<button type="button" (click)="ClearAll()" class="btn btn-outline-secondary mb-4" >Reset</button>
				</form>
		</div>
	
	</div>

	<!-- <div>
	  <label for="">Select an .csv file to get json</label>
	  <br>
	  <input type="file" (change)="handleFile($event)" />
	  <input type="button" (click)="downloadFile()" value="DownloadExcel"/>
	</div>

	<div class="result-container" *ngIf="result && result.length>0">
	  <h2>
	    Result :
	   <br>
	  </h2>
	  {{result}}
	</div> -->
</div>