<span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
					<button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
				</button>
				</span>

<nav class="sidenav collapse bd-links" id="bd-docs-nav">

	<div class="bd-toc-item border-bottom p-2">
		<a class="bd-toc-link" routerLinkActive="sub-side-nav-active" [routerLink]="['/app/dashboard']">
			<i class="fa fa-th-list"></i> Dashboard
		</a>
	</div>
	<!-- <div class="bd-toc-item border-bottom p-2">
		<a class="bd-toc-link" href="#" data-toggle="collapse" data-target="#Catelog">
			<i class="fa fa-tags"></i> Catelog
		</a>
		<div class=" bd-toc-item">
			<ul class="collapse" id="Catelog">
				<li>
					<a [routerLink]="['/app/categories']" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Categories</a>
				</li>
				<li>
					<a href="#" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Product</a>
				</li>
				<li>
					<a href="#" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Review</a>
				</li>
				<li>
					<a href="#" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Tags</a>
				</li>
				<li>
					<a href="#" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Product Tabs</a>
				</li>
			</ul>
		</div>
	</div> -->

	<!-- <div class="bd-toc-item border-bottom p-2">
		<a class="bd-toc-link" href="#" data-toggle="collapse" data-target="#Orders">
			<i class="fa fa-shopping-basket"></i> Orders
		</a>
		<div class=" bd-toc-item">
			<ul class="collapse" id="Orders">
				<li>
					<a href="#" class="sub-bd-toc-link ">Orders List</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Order Statuses</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Statistics</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Accounting</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Payment Transactions</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Messages</a>
				</li>
			</ul>
		</div>
	</div> -->
	<!-- <div class="bd-toc-item border-bottom p-2">
		<a class="bd-toc-link" href="#" data-toggle="collapse" data-target="#Discounts">
			<i class="fa fa-gift"></i> Discounts
		</a>
		<div class=" bd-toc-item">
			<ul class="collapse" id="Discounts">
				<li>
					<a href="#" class="sub-bd-toc-link ">Volume Discounts</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Coupons</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Special Offers</a>
				</li>

			</ul>
		</div>
	</div> -->
	<!-- <div class="bd-toc-item border-bottom p-2">
		<a class="bd-toc-link" href="#" data-toggle="collapse" data-target="#Users">
			<i class="fa fa-users"></i> Users
		</a>
		<div class=" bd-toc-item">
			<ul class="collapse" id="Users">
				<li>
					<a href="#" class="sub-bd-toc-link ">Users List</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Membership Levels</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Roles</a>
				</li>

			</ul>
		</div>
	</div> -->
	<!-- <div class="bd-toc-item border-bottom p-2">
		<a class="bd-toc-link" href="#" data-toggle="collapse" data-target="#Content">
			<i class="fa fa-newspaper-o"></i> Content
		</a>
		<div class=" bd-toc-item">
			<ul class="collapse" id="Content">
				<li>
					<a href="#" class="sub-bd-toc-link ">News Messages</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Banners</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Front Page</a>
				</li>
				<li>
					<a href="#" class="sub-bd-toc-link ">Pages</a>
				</li>
			</ul>
		</div>
	</div> -->
	<div class="bd-toc-item border-bottom p-2">
		<a class="bd-toc-link" href="#" data-toggle="collapse" data-target="#School">
			<i class="fa fa-newspaper-o"></i> School
		</a>
		<div class=" bd-toc-item">
			<ul class="collapse show" id="School">
				<li>
					<a [routerLink]="['/app/classes']" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Classes</a>
				</li>
				<li>
					<a [routerLink]="['/app/student']" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Student</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="bd-toc-item border-bottom p-2">
		<a class="bd-toc-link" href="#" data-toggle="collapse" data-target="#Fees">
			<i class="fa fa-newspaper-o"></i> Fees
		</a>
		<div class=" bd-toc-item">
			<ul class="collapse show" id="Fees">
				<li>
					<a [routerLink]="['/app/feetype']" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Fee Type</a>
				</li>
				<li>
					<a [routerLink]="['/app/classfee']" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Class Fee</a>
				</li>
				<li>
					<a [routerLink]="['/app/generateclassfee']" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Generate Class Fee</a>
				</li>
				<!-- <li>
					<a [routerLink]="['/app/payment']" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Payment</a>
				</li>
				<li>
					<a [routerLink]="['/app/make']" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Make</a>
				</li>
				
				<li>
					<a [routerLink]="['/app/defaulters']" routerLinkActive="sub-side-nav-active" class="sub-bd-toc-link ">Defaulters</a>
				</li> -->
			</ul>
		</div>
	</div>
	

</nav>