<h2 class="mt-2">Update Class</h2>
<ol class="breadcrumb-arrow">
	<li><a [routerLink]="['/app/classes']">Classes</a></li>
	<li class="active"><span>{{studentClass.name}}</span></li>
</ol>


<div class=" ">
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#classinfo" href="#" role="tab" aria-controls="categoryinfo"
			 aria-selected="true">Class Info</a>
			 <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" data-target="#classstudents" href="#" role="tab" aria-controls="catproducts"
			 aria-selected="false">Students</a>
		</div>
	</nav>
	<div class="tab-content pt-md-4 pl-3" id="nav-tabContent">
		<div class="tab-pane fade show active" id="classinfo" role="tabpanel" aria-labelledby="classinfo-tab">
			<form (ngSubmit)="classForm.form.valid && updateClass();" #classForm="ngForm" novalidate>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Class Name</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="name" [(ngModel)]="studentClass.name" #name="ngModel" required
						 [ngClass]="{'has-error': classForm.submitted && !name.valid}">
					</div>
					<!-- <div class="col-sm-2">
						<button type="button" class="btn btn-danger btn-sm text-white ng-star-inserted" (click)="doInactiveClass(studentClass)">
							<i class="fa fa-power-off"></i>
						</button>
					</div> -->
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label">Description</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="description" [(ngModel)]="studentClass.description" #description="ngModel" required
						 [ngClass]="{'has-error': classForm.submitted && !description.valid}">
					</div>
				</div>
				<div class="form-group row">
					<label for="inputPassword" class="col-sm-2 col-form-label">Active</label>
					<div class="col-sm-3">
						<select class="form-control" name="active" [(ngModel)]="studentClass.active" #active="ngModel" required
						[ngClass]="{'has-error': classForm.submitted && !active.valid}">
							<option value="true" selected="selected">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
				<button class="btn btn-bd-primary mb-4">Update</button>
				<!-- <button type="button" (click)="ClearAll(classForm)" class="btn btn-outline-secondary mb-4" >Reset</button> -->
			</form>
		</div>
		<div class="tab-pane fade" id="classstudents" role="tabpanel" aria-labelledby="classstudents-tab">
			<a class="btn btn-bd-primary btn-sm mb-4" [routerLink]="['/app/addstudent']">Add Student</a>
			<br/>
			<div class="table-responsive">
					<data-table id="persons-grid" class="table table-sm"
							headerTitle="Students"
							[limit]="10"
							[items]="items"
							[itemCount]="itemCount"
							(reload)="reloadItems($event)"
							[pagination] = "true"
							[rowTooltip]="rowTooltip"
							[indexColumn] = "false"
							[substituteRows]="false"
							
							>
							<data-table-column
								[property]="'studentId'"
								[header]="'#'"
								[width]="55"
								[sortable]="true"
								>
							</data-table-column>
							<data-table-column
								[property]="'name'"
								[header]="'Student Name'"
								[sortable]="true"
								[resizable]="true">
								<ng-template #dataTableCell let-item="item">
									<a href="javascript:(0)" (click)="viewStudent(item)">{{item.firstName + " " + item.lastName}}</a>
								</ng-template>
							</data-table-column>
							<data-table-column
								[property]="'admissionno'"
								[header]="'Admission No.'"
								[sortable]="true"
								[resizable]="true">
							</data-table-column>
							<data-table-column
								[property]="'fathername'"
								[header]="'Father Name'"
								[sortable]="true"
								[resizable]="true">
							</data-table-column>
							<data-table-column
								[property]="'mothername'"
								[header]="'Mother Name'"
								[sortable]="true"
								[resizable]="true">
							</data-table-column>
							<data-table-column
								[property]="'active'"
								[header]="'Actions'"
								[resizable]="true">
								<ng-template #dataTableCell let-item="item">
									<!-- <button class="btn btn-outline-success btn-sm"  title="Click to active">
										<i class="fa fa-power-off"></i>
									</button> -->
									<!-- <button class="btn btn-danger btn-sm text-white" (click)="doInactiveStudent(item)" title="Inactive this student">
										<i class="fa fa-power-off"></i>
									</button> -->
									<button class="btn btn-warning btn-sm text-white" (click)="editStudent(item)" title="Edit this student">
										<i class="fa fa-edit"></i>
									</button>
								</ng-template>
							</data-table-column>
							
						</data-table>
					</div>
		</div>
	
	</div>
</div>