<h2 class="mt-2">Categories</h2>
<hr/>
<a class="btn btn-bd-primary btn-sm mb-4" href="#">New Category</a>
<br/>
<table class="table table-sm table-bordered table-hover table-sortable">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Category</th>
			<th scope="col">Featured</th>
			<th scope="col">Subcat</th>
			<th scope="col">Products</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1 </th>
			<td>
				<a [routerLink]="['/app/updatecategory']">Electronics</a>
			</td>
			<td>0</td>
			<td>@mdo</td>
			<td>0</td>
			<td>
				<button class="btn btn-outline-success btn-sm">
							<i class="fa fa-power-off"></i>
						</button>
				<button class="btn btn-outline-danger btn-sm">
							<i class="fa fa-trash-o"></i>
						</button>
				<button class="btn btn-outline-warning btn-sm">
							<i class="fa fa-edit"></i>
						</button>
			</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>
				<a [routerLink]="['/app/updatecategory']">Apparel</a>
			</td>
			<td>0</td>
			<td>@fat</td>
			<td>10</td>
			<td>
				<button class="btn btn-outline-success btn-sm">
							<i class="fa fa-power-off"></i>
						</button>
				<button class="btn btn-outline-danger btn-sm">
							<i class="fa fa-trash-o"></i>
						</button>
				<button class="btn btn-outline-warning btn-sm">
							<i class="fa fa-edit"></i>
						</button>
			</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>
				<a [routerLink]="['/app/updatecategory']">TV</a>
			</td>
			<td>0</td>
			<td>@fat</td>
			<td>5</td>
			<td>
				<button class="btn btn-outline-success btn-sm">
							<i class="fa fa-power-off"></i>
						</button>
				<button class="btn btn-outline-danger btn-sm">
							<i class="fa fa-trash-o"></i>
						</button>
				<button class="btn btn-outline-warning btn-sm">
							<i class="fa fa-edit"></i>
						</button>
			</td>
		</tr>
	</tbody>
</table>